<div *portalContent
     class="test">
  <pre>template-2</pre>
  <p>
    <b>The price list</b> is a list of all the positions that you plan to place on the Cargotogo portal, with additional information about them. Such a list must be made out according to Cargotogo rules.
  </p>
</div>

<ng-template portalContent>
  <pre>template-1</pre>
  <b>The price list</b> is a list of all the positions that you plan to place on the Biztogo portal, with additional information about them. Such a list must be made out according to Biztogo rules.
</ng-template>