<button dropdown>
  Dynamic
  <ng-template>
    <a routerLink="./dynamic-test">dynamic-test</a>
    <a routerLink="./outlet-test">outlet-test</a>
    <a routerLink="./ngxd-outlet-test">ngxd-outlet-test</a>
    <a routerLink="./lazy-load-test">lazy-load-test</a>
    <hr>
    <a routerLink="./view">view-1</a>
    <a routerLink="./view-2">view-2</a>
    <hr>
    <a routerLink="./dynamic-test-2">dynamic-test</a>
    <hr>
    <a routerLink="./dynamic-template">dynamic-template</a>
    <hr>
    <span>:: *getData store</span>
    <a routerLink="./store-test">store test</a>
    <a routerLink="./empty-route">empty route</a>
    <a routerLink="./dynamic-counter">dynamic-counter</a>
    <a routerLink="./store-paginator">store-paginator</a>
    <hr>
    <a routerLink="./dynamic-test-3">dynamic-test-3</a>
    <hr>
    <span>:: Angular ECS test</span>
    <a routerLink="./ecs-test">ecs-test</a>
  </ng-template>
</button>

<insert-video></insert-video>

<router-outlet></router-outlet>
