<span>
  <a routerLink="./dynamic/dynamic-test">dynamic-test</a>&nbsp;
  <a routerLink="./dynamic/outlet-test">outlet-test</a>&nbsp;
  <a routerLink="./dynamic/ngxd-outlet-test">ngxd-outlet-test</a>&nbsp;
  <a routerLink="./dynamic/lazy-load-test">lazy-load-test</a>&nbsp;
  <br>
  <a routerLink="./dynamic-2/view">view-1</a>&nbsp;
  <a routerLink="./dynamic-2/view-2">view-2</a>&nbsp;
  <br>
  <a routerLink="./dynamic-3/dynamic-test">dynamic-test</a>&nbsp;
  <br>
  <a routerLink="./dynamic-4/view">more dynamic test</a>&nbsp;
  <br>
  <a routerLink="./store/store-test">store test</a>&nbsp;
  <a routerLink="./store/store-test-2">store test 2</a>&nbsp;
  <a routerLink="./store/store-research">store research</a>&nbsp;
</span>
<br>
<insert-video></insert-video>

<router-outlet></router-outlet>
