<h1>dynamic test 2</h1>

<ng-container *ngIf="false">
  <pre>*dynamic</pre>

  <ng-container *dynamic="'test-5'"></ng-container>

  <hr>
</ng-container>

<insert-video></insert-video>

<ng-container *getData="let $implicit from testDataContext
                        let allData = allData;
                        let data1 = data1;
                        let data2 = data2;
                        let data3 = data3;
                        let onAction = onAction;">

  <ng-container *getData="let componentName from testComponentsContext">

    <pre>*dynamic</pre>

    <ng-container *dynamic="componentName; context: allData;"></ng-container>

    <hr>
  </ng-container>

  <pre>test-data</pre>
  <p>{{ $implicit }}</p>
  <pre>{{ allData | json }}</pre>
  <hr>

  <ng-container *ngIf="false">

    <ng-container *dynamic="'test-2'"></ng-container>
  </ng-container>

  <ng-container *ngIf="false">

    <ng-container *dynamic="'test-3'"></ng-container>
  </ng-container>

  <!-- <ng-container *ngIf="false">
    <pre>*ngComponentOutlet</pre>

    <ng-container *ngComponentOutlet="component"></ng-container>
  </ng-container> -->


</ng-container>

<pre>other</pre>
